<h1>New York Times RSS Feed</h1>

<% @articles.each do |article| %>
  <h3><%=  article.title %></h3>
  <%= link_to("Read the article online", article.link) %>,
  <em>Published on <%= article.date %></em>.
  <br>
  <%= render 'articles/favorites', article: article %>

  <br>
<% end %>
